body {
  background-color: rgb(242, 242, 242);
}

.image-border {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow:0 4px 8px 0 rgba(146, 145, 145, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.19);
}

.grid-border {
  box-shadow: 0 5px 10px 0 rgba(164, 162, 162, 0.13), 0 3px 10px 0 rgba(201, 201, 201, 0.12);
}


.icon-size {
  font-size: 50px;
}

h1 {
  font-size: 1.15em;
}

 .hero-image {
  background: 
  linear-gradient(180deg,
  rgba(223, 223, 223, 0.5),
    rgb(242, 242, 242)
  ),
  url(https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f1d38bbdda690e28a81673c06325075&auto=format&fit=crop&w=1189&q=80);
  /*url("images/Screen\ Shot\ 2018-08-03\ at\ 5.05.38\ PM.png");*/
  background-size:cover;
} 

.section-padding {
  padding: 5.5rem 1.5rem !important;
}

.footer {
  margin-top: 5rem;
}

.box {
  position: relative;
  width: 50%;
}

.grid-image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: 1s ease;
backface-visibility: hidden;
}

.middle {
transition: 1s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.grid-link{
  color: white;
}


.box:hover .image {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(177, 177, 177, 0.961), rgba(255, 255, 255, 0));
}

.grid-section {
  margin-top: 5rem;
}

